`13.git/
bin/
build/
obj/
.idea/
Folder.DotSettings.user
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/erenshor-minimap/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/.vs/erenshor-minimap/FileContentIndex/7a5ada19-eec4-460a-b61d-7eff0c774a5b.vsidx
/.vs/erenshor-minimap/FileContentIndex/232ffdb2-65ad-4ace-b6f2-57c4b606600f.vsidx
/.vs/erenshor-minimap/FileContentIndex/7be48485-179d-495d-aae4-b468e674668a.vsidx
/.vs/erenshor-minimap/FileContentIndex/0e24c83e-4085-4dc7-9654-09bc88a70780.vsidx
/.vs/slnx.sqlite
/.vs/erenshor-minimap/FileContentIndex/88cee08e-4f6e-4887-9ac8-18605998e15e.vsidx
